* {
  margin: 0;
  padding: 0;
}

.login {
  display: -ms-grid;
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}

.login img {
  height: 200px;
}

.login a {
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 99px;
  font-weight: 800;
  background-color: #1db954;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.body {
  padding: 30px;
  width: 100%;
  height: 100vh;
  overflow-y: overlay;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(transparent, black);
  background-color: #5b5773;
}

.body__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
}

.body__info img {
  height: 20vw;
  margin: 0 20px;
  -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__shuffle:hover {
  -webkit-transition: 100ms -webkit-transform ease-in;
  transition: 100ms -webkit-transform ease-in;
  transition: 100ms transform ease-in;
  transition: 100ms transform ease-in, 100ms -webkit-transform ease-in;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.body__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__icons .MuiSvgIcon-root {
  margin-right: 20px;
}

.body__background {
  position: absolute;
  top: 13vh;
  right: 0;
  opacity: 0.4;
  height: 80%;
  width: 80%;
  background-color: black;
}

.body__songs {
  z-index: 1;
  margin: 20px -30px;
}

.body__infoText {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.body__infoText h2 {
  font-size: 48px;
  margin-bottom: 10px;
}

.body__infoText p {
  font-size: 14px;
}

.body::-webkit-scrollbar {
  display: none;
}

.footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  padding: 20px;
  height: 65px;
  width: 97%;
  background-color: #282828;
}

.footer__right * .MuiSlider-root {
  color: green;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 300px;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer__green {
  color: #1ed15e;
}

.footer__center {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  max-width: 300px;
  padding: 0 100px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__icon:hover, .footer__green:hover {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  -webkit-transform: scale(1.2) !important;
          transform: scale(1.2) !important;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__songInfo h4 {
  margin-bottom: 5px;
}

.footer__songInfo p {
  font-size: 12px;
}

.songRow {
  margin-left: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 20px;
}

.songRow__info h1 {
  font-size: 16px;
}

.songRow__info p {
  font-size: 14px;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 40px;
  width: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right h4 {
  margin-left: 10px;
}

.header__left {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  border-radius: 30px;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left input {
  border: none;
  width: 100%;
  outline-width: 0;
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: grey;
  -webkit-transition: 200ms color ease-in;
  transition: 200ms color ease-in;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}

.sidebarOption__icon {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebarOption p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px;
  height: 100vh;
  color: white;
  background-color: #040404;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebar__logo {
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  height: 70px;
  padding: 10px;
}
/*# sourceMappingURL=App.css.map */